/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootflat
 *= require_self
 *= require_tree .
 */

 /*Height: 972 Width: 1842*/

 .container-fluid{width:100%;}
html, body { height: 100%; width: 100%; position:fixed;top:0;left:0; }
body{background-image: url(body-background.png);font-size:30px;}
.stack-container{margin-left:15%;left:20%;margin-top:5%;height:100%;width:100%; }
.card{
    height:280px;
    width:190px;
    float:left;
    margin-left: 20px;
    margin-top: 20px; 
	background-image: url(card-background.png);
    border: 2px solid;
    border-radius: 8px;
}
#left-nav{
    height:100%;
    float:left;  
    position: relative;
    top: -20px;
}
.btn-group-vertical{padding-bottom:0px;}
.btn{background-image: url(btn-background.png);}
.btn:hover{background-image: url(btn-background-hover.png);}
#working-area{width:100%;}
.img-responsive {margin: 20% auto;}
.stack {
    width: 10.9663409%; /*202px 10.9663409%*/
    height: 31.0699588%; /*302px;*/
    margin: 20px;
    background-image : url(stack-cover.png);
    border-radius: 5px;
    float:left;

        position:relative;
  
   

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.stack:before, .stack:after{

    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.stack:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
    -moz-transform:skew(8deg) rotate(3deg);     
    -ms-transform:skew(8deg) rotate(3deg);     
    -o-transform:skew(8deg) rotate(3deg); 
    transform:skew(8deg) rotate(3deg);
}  
.stack .outside {
    width: 95.049505%; /*192px 95.049505%*/
    height:  97.0198675%; /*293px;*/
    position: absolute;    
    margin: 2.4752475%;
    border-radius: 2%;
    border: 2px dashed #5F5656;
    box-shadow: 0 0 0 1px #f5f5f5;
}
.stack .inside {
    width: 100%; /*188px; 93.0693069% */
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;    
    border-radius: 2%;
    box-shadow: 0 0 0 1px #f5f5f5;
}
p.font {
    margin-top: 10%;
    font-size: 2em;
    font-family: Georgia;
    color: #F94343;
    text-shadow: 1px 1px 2px #fff;
    text-align: center;
}