/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootflat
 *= require_self
 *= require_tree .
 */

 /*Height: 972 Width: 1842*/
 .pagination{background-image: url(btn-background.png);}

 .container-fluid{width:100%;}
html, body { height: 100%; width: 100%; position:fixed;top:0;left:0; }
body{background-image: url(body-background.png);font-size:30px;}
#stack-container{margin-left:15%;left:20%;margin-top:5%;height:100%;width:100%; perspective: 10000;}

#left-nav{
    height:100%;
    float:left;  
    position: relative;
    top: -20px;
}
.btn-group-vertical{padding-bottom:0px;}
.btn{background-image: url(btn-background.png);}
.btn:hover{background-image: url(btn-background-hover.png);}
#working-area{width:100%;}
.img-responsive {margin: 20% auto;}


.stack {
    width: 10.9663409%; /*202px 10.9663409%*/
    height: 31.0699588%; /*302px;*/
    margin: 20px;

    border-radius: 5px;
    float:left;
    position:relative;


    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.spine
/*#spine*/{
  position:absolute;
  top:0;
  right:0;

  width:5%;
  height:100%;
  transform-style: preserve-3d;
  transform-origin: 100% 0%;
  background-image : url(stack-cover.png);    
  transition: all 1s ease;
  transform: rotateY(90deg);

}

.spine .out {
    width: 60%; /*192px 95.049505%*/
    height:  100%;
    position: absolute;    
    margin: 0 20% 0 20%;
    
    border-left: 2px dashed #E35F15;
    border-right: 2px dashed #E35F15;
    box-shadow: 0 0 0 1px #653214;
}
.spine .in {
    width: 100%; /*188px; 93.0693069% */
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;    
 
    box-shadow: 0 0 0 1px #653214;
}

.pocket{
    width:95%;height:50%;position:absolute;bottom:0%;border-radius: 0 20% 5px 5px;background-image : url(stack-cover.png);    
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8); 

    z-index:2;}

    .pocket .metal{
    width:90%;height:25%;position:absolute;top:5%;left:0;border-radius: 0 20% 20% 0;background-image : url(metal.png);    
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8); 

    z-index:2;}

    .metal .bolt {background-image : url(bolt.png); position:absolute;left:2%;width:7%;height:30%;
    }

.pocket .out {
    width: 95.049505%; /*192px 95.049505%*/
    height:  94%; /*293px;*/
    position: absolute;    
    margin: 2.4752475%;
    border-radius: 0 20% 5px 5px;

    border-left:  2px dashed #E35F15;
    border-bottom: 2px dashed #E35F15;

    
}
.pocket .in {
    width: 100%; /*188px; 93.0693069% */
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;    
    border-radius: 0 20% 5px 5px;
    
}



.stack:before, .stack:after, .spine{-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);

}

.stack:before, .stack:after{
    content:"";
    position:absolute; 
    z-index:-1;

    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.stack:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
    -moz-transform:skew(8deg) rotate(3deg);     
    -ms-transform:skew(8deg) rotate(3deg);     
    -o-transform:skew(8deg) rotate(3deg); 
    transform:skew(8deg) rotate(3deg);
}  
.stack .outside {
    width: 95.049505%; /*192px 95.049505%*/
    height:  97.0198675%; /*293px;*/
    position: absolute;    
    margin: 2.4752475%;
    border-radius: 2%;
    border: 2px dashed #E35F15;
    box-shadow: 0 0 0 1px #653214;
}
.stack .inside {
    width: 100%; /*188px; 93.0693069% */
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;    
    border-radius: 2%;
    box-shadow: 0 0 0 1px #653214;
}
p.font {
    margin-top: 10%;
    font-size: 3em;
    font-family: Georgia;
    

    color: rgba(136, 85, 77, 1);
    text-shadow: 0px -2px 0px rgba(0,0,0,.5);
    text-align: center;
}



.face {
  position: absolute;
  width: 100%;
  height: 100%;  background-image : url(stack-cover.png);
border-radius: 5px;backface-visibility: hidden;
text-align: center;    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);

}
/*.top-front.top-back*/
.face.back {
  display: block;

 transform: rotateY(180deg);
  
  box-sizing: border-box;
  
  background-image : url(stack-inside.png);
  text-align: center;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
}
.bottom-front
/*#back_side*/{
  position:absolute;
  top:0;
  left:0%;

  width:100%;
  height:100%;

  background-image : url(stack-inside.png);

  transition: all 1s linear;border-radius: 5px;    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
  

}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 100% 0%;

  transition: all 1.0s linear;
z-index:3;
   border-radius: 5px;
}

.card {
  background-image : url(card-background.png);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: auto auto ;

  position: absolute;
  right:4%;bottom:2%;
  width: 92%;height:96%;
}

.pocket-btns{  
  height:33.4640523%;
  width:60%;
  margin: 0 auto;
  
}
.restart-btn{
  background-image : url(restart.png);  background-repeat:no-repeat;height:100%;    float:left;
    position:relative;  top: 15%;left:15%;  

  width:20%;
}
.shuffle-btn{
  background-image : url(shuffle.png);   background-repeat:no-repeat;height:100%;    float:left;
  width:20%;
position:relative;  top: 15%;left:25%;  
}

.newcard-btn{
  background-image : url(newcard.png);   background-repeat:no-repeat;height:100%;    float:left;
  width:20%;
position:relative;  top: 15%;left:35%;  
}
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

hr { 
    border: 0; border-top: 1px solid #000;margin-top:50%;
    }